@charset "UTF-8";
.gridProductos {
  width: 100%;
  height: auto;
  padding-bottom: 10vh;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-template-areas: "producto1 descripcion1 descripcion2 producto2" "descripcion3 producto3 producto4 descripcion4" "producto5 descripcion5 descripcion6 producto6" "descripcion7 producto7 producto8 descripcion8" "producto9 descripcion9 descripcion10 producto10"; }

.comprar {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: 3px solid #9cbba7;
  border-radius: 5px;
  line-height: 1.5em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

.fotosIzq, .producto1, .producto3, .producto5, .producto7, .producto9 {
  width: 15vw;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden; }

.fotosDer, .producto2, .producto4, .producto6, .producto8, .producto10 {
  width: 15vw;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  overflow: hidden; }

.producto1 {
  grid-area: producto1; }

.descripcion1 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion1; }

.producto2 {
  grid-area: producto2; }

.descripcion2 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion2; }

.producto3 {
  grid-area: producto3; }

.descripcion3 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion3; }

.producto4 {
  grid-area: producto4; }

.descripcion4 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion4; }

.producto5 {
  grid-area: producto5; }

.descripcion5 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion5; }

.producto6 {
  grid-area: producto6; }

.descripcion6 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion6; }

.producto7 {
  grid-area: producto7; }

.descripción7 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion7; }

.producto8 {
  grid-area: producto8; }

.descripcion8 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion8; }

.producto9 {
  grid-area: producto9; }

.descripción9 {
  grid-area: descripcion9; }

.producto10 {
  grid-area: producto10; }

.descripcion10 {
  font-size: 1vw;
  color: #9cbba7;
  text-align: center;
  grid-area: descripcion10; }

.gridFotos {
  width: 100%;
  height: 85%;
  display: grid;
  grid-gap: none;
  grid-template-columns: repeat(4, 20% 30% 15% 35%);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: ". fotoUno . fotoDos" "fotoTres . fotoCuatro ." ". fotoCinco . fotoSeis" "fotoSiete . fotoOcho ." ". fotoNueve . fotoDiez"; }
  .gridFotos div {
    width: 75%;
    height: 88%;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center; }
    .gridFotos div img {
      width: 20vw;
      align-items: center;
      justify-self: center; }
    .gridFotos div img:hover {
      transform: scale(1.2); }
  .gridFotos .fotoUno {
    border-radius: 5px;
    background-color: #9cbba7;
    grid-area: fotoUno;
    border-top-left-radius: 7px; }
  .gridFotos .fotoDos {
    border-radius: 5px;
    background-color: #ffe8df;
    grid-area: fotoDos; }
  .gridFotos .fotoTres {
    border-radius: 5px;
    background-color: #9cbba7;
    grid-area: fotoTres; }
  .gridFotos .fotoCuatro {
    border-radius: 5px;
    background-color: #ffe8df;
    grid-area: fotoCuatro; }
  .gridFotos .fotoCinco {
    border-radius: 5px;
    background-color: #9cbba7;
    grid-area: fotoCinco; }
  .gridFotos .fotoSeis {
    border-radius: 5px;
    background-color: #ffe8df;
    grid-area: fotoSeis; }
  .gridFotos .fotoSiete {
    border-radius: 5px;
    background-color: #9cbba7;
    grid-area: fotoSiete; }
  .gridFotos .fotoOcho {
    border-radius: 5px;
    background-color: #ffe8df;
    grid-area: fotoOcho; }
  .gridFotos .fotoNueve {
    border-radius: 5px;
    background-color: #9cbba7;
    grid-area: fotoNueve; }
  .gridFotos .fotoDiez {
    border-radius: 5px;
    background-color: #ffe8df;
    grid-area: fotoDiez; }

.gridVideos {
  width: 100%;
  height: 90%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(2, 1fr 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: ". video1" "video2 ." ". video3" "video4 ." ". video5" "video6 ."; }

.video1 {
  grid-area: video1; }

.video2 {
  grid-area: video2; }

.video3 {
  grid-area: video3; }

.video4 {
  grid-area: video4; }

.video5 {
  grid-area: video5; }

.video6 {
  grid-area: video6; }

.page {
  align-items: center; }

.gridMD {
  width: 90%;
  height: 65vh;
  border: solid 3px #94985e;
  align-items: center;
  padding-left: px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 15% 21% 21% 21% 22%;
  grid-template-rows: 10% 22% 22% 23% 22%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "column1 column2 column3 column4 column5" "row2 descripcion1 descripcion2 descripcion3 descripcion4" "row3 descripcion5 descripcion6 descripcion7 descripcion8" "row4 descripcion9 descripcion10 descripcion11 descripcion12" "row5 descripcion13 descripcion14 descripcion15 descripcion16"; }
  .gridMD .gridMD_div1 {
    grid-area: column1; }
  .gridMD .gridMD_div2 {
    grid-area: column2; }
  .gridMD .gridMD_div3 {
    grid-area: column3; }
  .gridMD .gridMD_div4 {
    grid-area: column4; }
  .gridMD .gridMD_div5 {
    border-bottom: solid 3px #94985e;
    grid-area: column5; }
  .gridMD .gridMD_div6 {
    grid-area: row2; }
  .gridMD .gridMD_div7 {
    grid-area: descripcion1; }
  .gridMD .gridMD_div8 {
    grid-area: descripcion2; }
  .gridMD .gridMD_div9 {
    grid-area: descripcion3; }
  .gridMD .gridMD_div10 {
    grid-area: descripcion4; }
  .gridMD .gridMD_div11 {
    grid-area: row3; }
  .gridMD .gridMD_div12 {
    grid-area: descripcion5; }
  .gridMD .gridMD_div13 {
    grid-area: descripcion6; }
  .gridMD .gridMD_div14 {
    grid-area: descripcion7; }
  .gridMD .gridMD_div15 {
    grid-area: descripcion8; }
  .gridMD .gridMD_div16 {
    grid-area: row4; }
  .gridMD .gridMD_div17 {
    grid-area: descripcion9; }
  .gridMD .gridMD_div18 {
    grid-area: descripcion10; }
  .gridMD .gridMD_div19 {
    grid-area: descripcion11; }
  .gridMD .gridMD_div20 {
    grid-area: descripcion12; }
  .gridMD .gridMD_div21 {
    grid-area: row5; }
  .gridMD .gridMD_div22 {
    grid-area: descripcion13; }
  .gridMD .gridMD_div23 {
    grid-area: descripcion14; }
  .gridMD .gridMD_div24 {
    grid-area: descripcion15; }
  .gridMD .gridMD_div25 {
    grid-area: descripcion16; }

.PMD, .gridMD .gridMD_div1, .gridMD .gridMD_div2, .gridMD .gridMD_div3, .gridMD .gridMD_div4, .gridMD .gridMD_div5, .gridMD .gridMD_div6, .gridMD .gridMD_div11, .gridMD .gridMD_div16, .gridMD .gridMD_div21 {
  text-align: center;
  font-size: 18px; }

.PMD2, .gridMD .gridMD_div7, .gridMD .gridMD_div8, .gridMD .gridMD_div9, .gridMD .gridMD_div10, .gridMD .gridMD_div12, .gridMD .gridMD_div13, .gridMD .gridMD_div14, .gridMD .gridMD_div15, .gridMD .gridMD_div17, .gridMD .gridMD_div18, .gridMD .gridMD_div19, .gridMD .gridMD_div20, .gridMD .gridMD_div22, .gridMD .gridMD_div23, .gridMD .gridMD_div24, .gridMD .gridMD_div25 {
  text-align: left;
  font-size: 13px;
  padding: 2px; }

.borderGrid, .gridMD .gridMD_div1, .gridMD .gridMD_div2, .gridMD .gridMD_div3, .gridMD .gridMD_div4, .gridMD .gridMD_div6, .gridMD .gridMD_div7 {
  border-bottom: solid 3px #94985e;
  border-right: solid 3px #94985e; }

.bodyIndex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Arapey', serif;
  background-color: #fdfcfc; }

.gridReseñas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 100%;
  grid-template-areas: ". reseña ."; }

.reseñas {
  display: block;
  color: #94985e;
  background-color: #c4c6a5;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: 0,5rem;
  text-align: center;
  object-position: center; }

/*RESEÑAS*/
.reseñas {
  grid-area: reseña; }

.comentarios {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px; }
  .comentarios .comentarios__div {
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; }
    .comentarios .comentarios__div .comentarios__div__p {
      font-size: 0,5rem; }
    .comentarios .comentarios__div .comentarios__div__nombre {
      justify-content: center;
      background-color: #c4c6a5;
      display: inline-block;
      width: 10vw;
      padding: 2px;
      margin-bottom: 10px; }
    .comentarios .comentarios__div .comentarios__div__nombre:hover {
      transform: skew(10deg, 5deg); }

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  font-family: 'Arapey', serif; }

/*index*/
.header {
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffe8df, #fdfcfc);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 7px #94985e; }
  .header .header__h2 {
    width: 10em;
    animation-duration: 5s;
    animation-name: show;
    text-align: center;
    color: #d3e1d8;
    font-size: 7vw;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .header .header__logoSas {
    width: 5vw; }
  .header .header__iconoCarrito {
    width: 3vw; }

/*menú de navegación*/
.sectionMenu .sectionMenu__li {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
  border: 10px;
  padding: 10px; }

.sectionMenu .sectionMenu__fancyButton {
  offset: 10px;
  border: 0;
  background: transparent;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Arapey', serif;
  color: black;
  font-size: 1vw;
  text-decoration: none;
  list-style: none; }

footer {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  grid-area: "footer";
  background-image: linear-gradient(to top, #d3e1d8, #fdfcfc); }
  footer img {
    width: 20px;
    margin: 3px; }
  footer nav {
    align-content: right;
    margin-left: 5%; }
  footer div form {
    align-content: center; }
    footer div form input {
      background-color: #F8ECE7; }
  footer .footer-d-u {
    align-content: left;
    margin-right: 5%; }
