.bodyIndex{
    width: 100%;
    height: auto;
    font-size: 16px;
    align-items: center;
    font-family: 'Arapey', serif;
    background-color: rgb(253, 252, 252);
}

.gridReseñas{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:(1, 100%);
    grid-template-areas: 
    ". reseña ."
}
.reseñas{
    display: block;
    color:rgb(148,152,94);
    background-color: rgb(196,198,165);
    margin-top: 5vw;
    margin-bottom: 3vw;
    justify-content: center;
    align-items: center;
    font-size: 0,75rem;
    text-align: center;
    object-position: center;
    grid-area: reseña;
} 

.comentarios {
    width:100%;
    height: auto;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:5vh;
    .comentarios__div {
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding-left:20px;
        padding-right: 20px;
        text-align: center;
        .comentarios__div__p {
            font-size: 0,5rem;
        }
    
        .comentarios__div__nombre { 
            justify-content: center;
            background-color: rgb(196,198,165);
            display: inline-block;
            width: 18vw;
            padding: 2px;
            margin-bottom: 10px;
            font-size: 0,5rem;
        }
        
        .comentarios__div__nombre:hover{
            transform:skew(10deg,5deg);
        }
    }
    
}

@media screen and (max-width: 800px){
    .comentarios{
        display:flex;
        flex-direction: column;
        .comentarios__div__p{
            font-size: 13px;
        }
        .comentarios__div__nombre{
            font-size: 15px;
            height: auto;
        }
        
    }

    .reseñas{
        font-size: 15px;
    }
}