@import "productos";
@import "galeria";
@import "recetas";
@import "mesaDulce";
@import "index";
@import "infoDeContacto";

*{
    margin:0%;
    padding:0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Arapey', serif;
}

/*index*/
   
.header{
    height: 25vh;
    width: 100%;
    background-image:linear-gradient(to bottom, #ffe8df,rgb(253, 252, 252));
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 7px rgb(148,152,94);
    .header__h2{
        width: 10em;
        animation-duration: 5s;
        animation-name: show;
        text-align:center;
        color: rgb(211,225,216);
        font-size: 7vw;
        font-weight: bold;
        font-style: italic;
        margin-top: 20px;
    }
    @keyframes show {
        0%{
            opacity: 0;
        }
    
        100%{
            opacity: 1;
        }
    }
    .header__logoSas {
        width: 5vw;
    }
    
    .header__iconoCarrito {
        width: 3vw;
    }
}
/*menú de navegación*/

    .sectionMenu__li {
        width: 100vw;
        height: 12vh;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        align-items: center;
        margin-top:5vh;
        margin-bottom:5vw;
        border:10px;
        padding: 10px;
    }
    .sectionMenu__fancyButton{
        offset: 10px;
        border:0;
        background: transparent;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold; 
        font-family: 'Arapey', serif;
        color:rgb(43, 41, 41);
        font-size: 1vw;
        text-decoration: none;
        list-style: none;
    }


footer{
    display:flex;
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    grid-area: "footer";
    background-image: linear-gradient(to top,rgb(211,225,216),rgb(253, 252, 252));
    img { 
        width: 20px;
        margin: 3px;
    }
    nav {
        align-content: right;
        margin-left: 5%;
    } 
    div {
        form{
            align-content: center;
            input{
                background-color: #F8ECE7;
            }
        }
    }
    .footer-d-u {
        align-content: left;
        margin-right: 5%;
    }
}
/*preguntar xq en index funciona la media querie y acá no*/
@media screen and (max-width: 800px){
    .sectionMenu__li{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sectionMenu__fancyButton{
        font-size: 12px;
    }

    footer{
        display:flex;
        flex-direction: column;
    
        img{
            width: 3vw;
        }
        .footer-d-u{
            font-size: 12px;
        }
        .redes{ 
            font-size: 12px;
        }
        form label{
            font-size: 12px;
        }

        form{
            align-content: flex-end;
        }

        form input{
            width: 50px;
            height: 13px;
            font-size: 10px;
        }

        nav{
            height: 30px;
            margin: 4px;
        }
    }
}

