@import "productos";
@import "galeria";
@import "recetas";
@import "mesaDulce";
@import "index";
@import "infoDeContacto";

*{
    margin:0%;
    padding:0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Arapey', serif;
}

/*index*/
   
.header{
    height: 25vh;
    width: 100%;
    background-image:linear-gradient(to bottom, #ffe8df,rgb(253, 252, 252));
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 7px rgb(148,152,94);
    .header__h2{
        width: 10em;
        animation-duration: 5s;
        animation-name: show;
        text-align:center;
        color: rgb(211,225,216);
        font-size: 7vw;
        font-weight: bold;
        font-style: italic;
        margin-top: 20px;
    }
    @keyframes show {
        0%{
            opacity: 0;
        }
    
        100%{
            opacity: 1;
        }
    }
    .header__logoSas {
        width: 5vw;
    }
    
    .header__iconoCarrito {
        width: 3vw;
    }
}
/*menú de navegación*/

    .sectionMenu__li {
        width: 100vw;
        height: 12vh;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        align-items: center;
        margin-top:5vh;
        margin-bottom:5vw;
        border:10px;
        padding: 10px;
    }
    .sectionMenu__fancyButton{
        offset: 10px;
        border:0;
        background: transparent;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold; 
        font-family: 'Arapey', serif;
        color:rgb(43, 41, 41);
        font-size: 1vw;
        text-decoration: none;
        list-style: none;
    }

    .sectionMenu__li li a:hover{
        color: rgb(116, 113, 113);
    }
    




footer{
    display:flex;
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    grid-area: "footer";
    background-image: linear-gradient(to top,rgb(211,225,216),rgb(253, 252, 252));
    img { 
        width: 20px;
        margin: 3px;
    }
    nav {
        align-content: right;
        margin-left: 5%;
    } 
    div {
        form{
            align-content: center;
            input{
                background-color: #F8ECE7;
            }
        }
    }
    .footer-d-u {
        align-content: left;
        margin-right: 5%;
    }
}
/*preguntar xq en index funciona la media querie y acá no*/
@media screen and (max-width: 800px){
    .sectionMenu__li{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sectionMenu__fancyButton{
        font-size: 12px;
    }

    footer{
        height: auto;
        display:flex;
        flex-direction: column;
    
        img{
            width: 4vw;
        }
        .footer-d-u{
            font-size: 12px;
        }
        .redes{ 
            font-size: 12px;
        }
        form label{
            font-size: 12px;
        }

        form{
            align-content: flex-end;
        }

        form input{
            width: 50px;
            height: 13px;
            font-size: 10px;
        }

        nav{
            height: 30px;
            margin: 4px;
        }
    }

    .nav1{
        position:relative;
        overflow-y: scroll;
    }

    .hamburguesa{
        position: absolute;
        cursor: pointer;
        margin-top: 3vh;
        z-index: 2;
        

        .linea{
            width: 30px;
            height: 3px;
            background-color: black;
            margin:5px;
        }
    }
    .nav-links{
        display: block;
        position: fixed;
        height: auto;
        width: 100%;
        flex-direction: column;
        clip-path: circle(10px at 10% -10%);
        -webkit-clip-path: circle(10px at 10% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        background-image:linear-gradient(to right, #fcddd1,rgb(253, 252, 252));

    }

    .nav-links.open{
        clip-path: circle(900px at 10% -10%);
        -webkit-clip-path: circle(900px at 10% -10%);
        pointer-events: all;
    }

    .carrusel.oculto{
        display: none;
    }
}

.nav1{
    height: 10vh;
    background-color: transparent;
}

.nav-links{
    display:flex;
    list-style: none;
    height: 100%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    
}

.nav-links li a{
    color: black;
    text-decoration:none;
}

.header2{
    background-image:linear-gradient(to bottom, #fcddd1,rgb(253, 252, 252));
    width: 100%;
    height: auto;
}

.headerGrid{
    border-bottom: solid 7px rgb(148,152,94);
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns:(3, 20% 60% 20%);
    grid-template-rows:(2, 80% 20%);
    grid-template-areas:". titulo ."
    "logo titulo carrito";
}

.logo{
    grid-area: logo;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carrito{
    grid-area: carrito;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.titulo{
        grid-area: titulo;
        width: 100%;
        align-items: center;
        justify-content: center;
}

.logoEdit{
    width: 4vw;
    margin-left: 10px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.tituloEdit{
        width: 10em;
        animation-duration: 5s;
        animation-name: show;
        text-align:center;
        color: rgb(211,225,216);
        font-size: 6vw;
        font-weight: bold;
        font-style: italic;
        margin-top: 20px;
        margin-left: 10%;
}

.carritoEdit{
    width: 3vw;
    margin-left: 75%;
    margin-top: 17%;
}

